<div class="box_relationships" id="<%= association_name %>">

  <h2>
    <%= @model_to_relate.model_name.human.pluralize %>
    <small><%= add_new %></small>
  </h2>

  <% if @items.any? -%>
    <%= table %>
    <%= paginate(@items, Typus.pagination.merge(:anchor => association_name)) %>
  <% else %>
    <p><%= Typus::I18n.t("No %{resources} found.", :resources => association_name.humanize.downcase.pluralize) %></p>
  <% end %>

</div>
