<tr>
  <td><%= book.user.name %></td>
  <td><%= book.day.strftime('%d/%m/%Y') %></td>
  <td><%= book.interval.resort.name %></td>
  <td><%= book.interval.intervalo %></td>
  <td><% if book.user.provider == "client" -%>
    Telefono
    <% else -%>
    Internet
  <% end -%></td>
  <td><%= link_to "Edit", edit_admin_book_path(book) %></td>
  <td><%= link_to "Destroy", admin_book_path(book), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>

