<tr>
  <td style="background:#96aaab "><%= book.por_telefono %></td>
  <td><%= book.day.strftime('%d/%m/%Y') %></td>
  <td><%= book.interval.resort.name %></td>
  <td><%= book.interval.intervalo %></td>
  <td><% if book.user.provider == "client" -%>
    Telefono
    <% else -%>
    Internet
  <% end -%></td>
  <td><%= link_to "Modificar", edit_admin_book_path(book) %></td>
  <td><%= link_to "Borrar", admin_book_path(book), :confirm => 'Estas seguro?', :method => :delete %></td>
</tr>

