<% content_for :content do %>
  <h2>Listado de Reservas</h2>
  <p><%= link_to 'Reservas Hoy', para_hoy_admin_books_path, :remote => true %> | <%= link_to 'Reservas Mañana', tomorrow_admin_books_path, :remote => true %> | <%= link_to 'Este Mes', month_admin_books_path, :remote => true %> <%= render 'form' %></p>

    <table class="table table-bordered table-striped">
      <tr>
        <th>Nombre</th>
        <th>Dia</th>
        <th>Recurso</th>
        <th>Periodo</th>
        <th></th>
        <th></th>
      </tr>
      <tbody id="books">
        <%= render :partial => @books %>
      </tbody>
    </table>
    <div id="paginator" class="pagination">
      <%= paginate @books, :remote => true %>
    </div>
    <br />
    <br />
    <p><%= link_to "Nueva Reserva", new_admin_book_path %></p>

<% end %>

