<h4>Menu!</h4>

<ul>
  <li>
    <%= link_to "Categorias", admin_categories_path %>
  </li>
  <li>
    <%= link_to 'Negocios', admin_stores_path %>
  </li>
  <li>
    <%= link_to 'Recursos', admin_resorts_path %>
  </li>
  <li>
    <%= link_to 'Intervalos', admin_intervals_path %>
  </li>
  <li>
    <%= link_to 'Servicios Extras', admin_service_extras_path %>
  </li>
</ul>

