%h1 Listing admin_bids

%table
  %tr
    %th Store
    %th Name
    %th Init
    %th Finish
    %th
    %th
    %th

  - @admin_bids.each do |admin_bid|
    %tr
      %td= admin_bid.store_id
      %td= admin_bid.name
      %td= admin_bid.init
      %td= admin_bid.finish
      %td= link_to 'Show', admin_bid
      %td= link_to 'Edit', edit_admin_bid_path(admin_bid)
      %td= link_to 'Destroy', admin_bid, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bid', new_admin_bid_path
