- content_for :content do
  %h3
    Listado de Ofertas de
    = @store.name.titleize

  %table.table.table-bordered.table-striped
    %tr
      %th Nombre
      %th Fecha Inicio Validez
      %th Fecha Fin Validez
      %th
      %th
      %th

    - @bids.each do |bid|
      %tr
        %td= bid.name
        %td= bid.init
        %td= bid.finish
        %td= link_to 'Modificar', edit_admin_store_bid_path(@store, bid)
        %td= link_to 'Borrar', admin_store_bid_path(bid), :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'Nueva Oferta', new_admin_store_bid_path(@store)
