%p#notice= notice

%p
  %b Store:
  = @admin_bid.store_id
%p
  %b Name:
  = @admin_bid.name
%p
  %b Init:
  = @admin_bid.init
%p
  %b Finish:
  = @admin_bid.finish

= link_to 'Edit', edit_admin_bid_path(@admin_bid)
\|
= link_to 'Back', admin_bids_path
