<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render 'admin/shared/head' %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to image_tag('logo_final.png', :size => "290x90"), "#" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="padding-top:250px;">
      <% if flash %>
          <% flash.each do |name, msg| %>
            <div class="alert alert-error fade in">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              <p><%= msg %></p>
            </div>
          <% end -%>
        <% end %>
      <div class="col-md-6 col-md-offset-3 well">
        <%= yield :layout %>
      </div>
    </div>
  </div>
</body>
</html>

