- content_for :content do
  %h3 Listado Fotos del Negocio

  %table.table.table-bordered.table-striped
    %tr
      %th Negocio
      %th Foto
      %th
      %th

    - @photo_galleries.each do |photo_gallery|
      %tr
        %td= photo_gallery.store.name.titleize
        %td= image_tag photo_gallery.photo_url(:list) if photo_gallery.photo?
        %td= link_to 'Modificar', edit_admin_photo_gallery_path(photo_gallery)
        %td= link_to 'Borrar', admin_photo_gallery_path(photo_gallery), :confirm => 'Estas Seguro?', :method => :delete

  %br

  = link_to 'Nueva Foto', new_admin_photo_gallery_path
