<div id="s5">
  <%= image_tag "invitation_rose.jpg" %>
  <%= image_tag "invitation_rose_1.jpg" %>
  <%= image_tag "invitation_rose_2.jpg" %>
  <%= image_tag "invitation_rose_3.jpg" %>
  <%= image_tag "invitation_rose_4.jpg" %>
  <%= image_tag "invitation_rose_5.jpg" %>
</div>