<h3>Informacion Adicional <%= @store.name.titleize %></h3>
<ul id="MiTab"class="nav nav-tabs">
  <li><a href="#fotos" data-toggle="tab">Fotos</a></li>
  <li><a href="#localizacion" data-toggle="tab">Direccion</a></li>
  <li><a href="#reservas" data-toggle="tab">Reservas Actuales</a></li>
  <li><a href="#ofertas" data-toggle="tab">Ofertas</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="fotos">
    <div id= "MiBanner" class="carousel slide">
      <div class="carousel-inner">
        <% @photos.each do |image| -%>
          <% if @photos.first.id == image.id -%>
            <div class="active item">
              <%= image_tag image.photo_url(:thumb) %>
            </div>
          <% else -%>
            <div class="item">
              <%= image_tag image.photo_url(:thumb) %>
            </div>
          <% end -%>
        <% end -%>
      </div>
      <a class="carousel-control left" href="#MiBanner" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#MiBanner" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="tab-pane" id="localizacion">
    <%= render :partial => "addresses", :locals => {:store => @store} %>
  </div>
  <div class="tab-pane" id="reservas">
    <h4>Recursos Disponibles</h4>
    <br/>
    <table class="table table-bordered table-striped">
      <tr>
        <th>Nombre</th>
        <th>Total Plazas</th>
        <th>Reservas libres hoy (<%= Date.today.strftime("%d/%m/%Y") %>) </th>
      </tr>
      <% @wr.each do |resort| %>
        <tr>
          <td><%= resort[0] %></td>
          <td style="text-align:center"><%= resort[1] %></td>
          <td><%= resort[2] %></td>
        </tr>
    <% end %>
    </table>
  </div>
  <div class="tab-pane" id="ofertas">
    <h3>Aqui va el conjunto de ofertas del negocio</h3>
  </div>
</div>
<script>
  $(function () {
    $('.tabs a:last').tab('show')
  })
</script>
