<div class="row">
  <div class="span7">
    <h3>Aqui va el logo del negocio</h3>
  </div>
  <div class="span7">
    <address>
      <strong><%= @store.name.capitalize %></strong>
      <%= @store.address.capitalize unless @store.address.nil? %><br/>
      <%= @store.zip_code %>, <%= @store.town.name.capitalize unless @store.town.nil? %><br/>
      <%= @store.phone %> - <%= @store.cellphone %><br/>
      <%= @store.email %>
    </address>
  </div>
</div>
<div class="row">
  <div class="span8">
    <% @resorts.each do |resort| %>
      <h3><%= resort.name %> - <%= resort.intervals.count %></h3>
    <% end %>
  </div>
  <div class="span8">
    <h3>Aqui va el conjunto de ofertas del negocio</h3>
  </div>
</div>