<script type="text/javascript">
$('#banner').cycle({ 
    fx:    'fade', 
    speed:  2500 
 });
</script>

<div class="row">
  <div class="span5 thumbnail" id="banner">
    <% @photos.each do |image| -%>
      <%= image_tag image.photo_url(:thumb) %>
    <% end -%>
  </div>
  <div class="span5">
    <address>
      <strong><%= @store.name.capitalize %></strong>
      <%= @store.address.capitalize unless @store.address.nil? %><br/>
      <%= @store.zip_code %>, <%= @store.town.name.capitalize unless @store.town.nil? %><br/>
      <%= @store.phone %> - <%= @store.cellphone %><br/>
      <%= @store.email %>
    </address>
  </div>
</div>
<div class="row">
  <div class="span5">
    <% @resorts.each do |resort| %>
      <h3><%= resort.name %> - <%= resort.intervals.count %></h3>
    <% end %>
  </div>
  <div class="span5">
    <h3>Aqui va el conjunto de ofertas del negocio</h3>
  </div>
</div>
