<div class="row">
  <div class="span7">
    <div class="carousel slide">
      <div class="carousel-inner">
        <% @photos.each do |image| -%>
          <div class="item">
            <%= image_tag image.photo_url(:thumb) %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="span3" style="float: right">
    <%= render :partial => "addresses", :locals => {:store => @store} %>
  </div>
</div>
<div class="row">
  <div class="span5">
    <h4>Recursos Disponibles</h4>
    <br/>
    <table class="table table-bordered table-striped">
      <tr>
        <th>Nombre</th>
        <th>Total Plazas</th>
        <th>Reservas libres hoy</th>
      </tr>
      <% @wr.each do |resort| %>
        <tr>
          <td><%= resort[0] %></td>
          <td style="text-align:center"><%= resort[1] %></td>
          <td><%= resort[2] %></td>
        </tr>
    <% end %>
    </table>

  </div>
  <div class="span5">
    <h3>Aqui va el conjunto de ofertas del negocio</h3>
  </div>
</div>
