<ul class="nav">
              <li>
                <%= link_to image_tag("edit.png", :alt => "Registrarse", :title => "Registrarse", :size => "32x32"), new_identity_path %>
              </li>
              <li>
                <a href="/auth/facebook">
                  <%= image_tag("facebook_32.png", :alt => "Facebook", :title => "Facebook") %>
                </a>
              </li>
              <li>
                <a href="/auth/google_oauth2">
                  <%= image_tag('google_32.png', :alt => "Google", :title => "Google")%>
                </a>
              </li>
              <li>
                <a href="/auth/twitter">
                  <%= image_tag('twitter_32.png', :alt => "Twitter", :title => "Twitter")%>
                </a>
              </li>
              <li>
                <a href="/auth/github">
                  <%= image_tag('github_32.png', :alt => "Github", :title => "Github")%>
                </a>
              </li>
              <li>
                <a href="/auth/linkedin">
                  <%= image_tag('linkedin_32.png', :alt => "Linkedin", :title => "Linkedin")%>
                </a>
              </li>
              <li>
                <a href="/auth/windowslive">
                  <%= image_tag('Windows-Live-Icon.png', :size => "32x32", :alt => "Windows Live",
                                :title => "Windows Live")%>
                </a>
              </li>
            </ul>

