<%= simple_form_for [:admin, @store], :html => { :class => "form-stacked" } do |f| %>
  <% if f.error_notification %>
    <div class="alert-message warning fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= f.error_notification %></p>
    </div>
  <% end %>
  <div class="row">
    <div class="span4">
      <div class="clearfix">
        <div class="input">
          <%= f.input :name %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.association :category %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.association :admin %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.input :email %>
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="clearfix">
        <div class="input">
          <%= f.input :address %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.input :zip_code %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.association :town %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.input :cellphone %>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="clearfix">
        <%= f.input :latitude %>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.input :longitude %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input-prepend">
          <%= f.input :gmaps %>
        </div>
      </div>
    </div>
  </div>



  <div class="actions">
    <%= f.button :submit, :class => "btn primary" %>
  </div>
<% end %>

