<%= f.input :name, :label => "Nombre" %>
<%= f.association :category, :label => "Categoria" %>
<%= f.hidden_field :admin_id, :value => current_admin_admin.id %>
<%= f.input :email %>
<%= f.input :cellphone, :label => "Telefono" %>
<%= f.input :address, :label => "Direccion" %>
<%= f.input :zip_code, :label => "Codigo Postal" %>
<%= f.input :province, :collection => @provinces, :label => "Provincia" %>
<div id="addressTowns">
  <%= render :partial => 'towns' %>
</div>
<%= f.input :logo, :as => :file %>
    
