- content_for :content do
  %h3
    Resumen Mensual del Negocio
    = @store.name.titleize
  = form_tag invoice_date_admin_store_path, :method => 'get', :remote => true do
    = date_select("stores", "invoice_fecha", {:include_blank => false, :discard_day => true, :start_year => 2011} ,{:class => "span2"})
    = submit_tag "Enviar", :class => "btn-primary"
  %br
  #datos_invoice
    = render :partial => "invoice_table"
  = link_to "Volver al Listado", admin_stores_path
