<h3>LOGIN</h3>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-vertical"}) do |f| %>
  <%= field_set_tag nil do -%>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.submit "Enviar", :class => "btn-primary" %>
  <% end -%>
  <%= render :partial => "admin/admins/shared/links" %>
<% end %>


