<%= simple_form_for([:admin, @resort, @offer], :html => { :class => "form-horizontal" }) do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <p><%= f.error_notification %></p>
    </div>
  <% end %>
  <%= f.input :enable, :label => "Disponible?" %>
  <%= f.input :hduration, :label => "Duracion?" %>
  <%= f.input :hcost, :label => "Coste?" %>
  <%= f.button :submit, :class => "btn-primary" %>
<% end %>

