<% content_for :content do %>
  <h2>Servicios Disponibles en <%= @resort.name.titleize %></h2>

    <table class="table table-bordered table-striped">
      <tr>
        <th>Nombre</th>
        <th>Disponible</th>
        <th>Duracion</th>
        <th>Coste</th>
        <th></th>
        <th></th>
      </tr>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.service_extra.name %></td>
          <td><%= t_boolean(offer.enable) %></td>
          <td><%= t_boolean(offer.hduration) %></td>
          <td><%= t_boolean(offer.hcost) %></td>
          <td><%= link_to "Modificar", edit_admin_resort_offer_path(@resort, offer) %></td>
        </tr>
      <% end %>
    </table>
    <%#= will_paginate @products %>
    <br />
    <br />
    <p><%#= link_to "Nuevo Categoria", new_admin_category_path %></p>

<% end %>

