<tr>
  <td> <%= book.interval.resort.store.name.capitalize %></td>
  <td><%= l book.day, :format => "%A, %d de %B de %Y" %></td>
  <td>
    <%= book.interval.init.strftime("%H:%M") %> - <%= book.interval.finish.strftime("%H:%M") %>
  </td>
  <td><%= book.interval.resort.name.capitalize %></td>
  <td>
    <dl>
      <dt>Servicios Extras</dt>
        <% book.extras.each do |extra| -%>
          <%= render :partial => "extra", :locals => { :extra => extra } %>
        <% end -%>
    </dl>
  </td>
  <td><%= link_to image_tag("x_14x14.png"), {:controller => 'books', :action => 'delete_books', :id => book}, :confirm => 'Estas Seguro?', :remote => true %></td>
</tr>

