<div class="row" id="vista">
  <h3 style="text-align: center; background: #96aaab"><%= @resort.store.name.titleize %></h3>
  <div class="span3">
    <%= link_to image_tag("arrow1_w.gif", :size => "24x24"), change_day_path(@resort, @dia_menos ), :remote => true unless @dia_menos < Date.today %>
  </div>
  <div class="span4">
    <h4 style="text-align: center"><%= l @dia, :format => "%A, %d de %B de %Y" %></h4>
  </div>
  <div class="span3">
    <%= link_to image_tag("arrow1_e.gif", :size => "24x24"), change_day_path(@resort, @dia_mas), :remote => true %>
  </div>
</div>
<div class="row" id="list">
  <div class="span6">
    <table class="table">
      <tr>
        <th>Hora Cita</th>
        <th>Reserva</th>
      </tr>
      <% intervals.each do |interval| %>
          <tr>
            <td>
              <%= interval.init.strftime("%H:%M") %> - <%= interval.finish.strftime("%H:%M") %>
            </td>
            <td><%= link_to (image_tag "check.gif", :size => "24x24"), get_book_path(interval.id, @dia), :remote => true %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <div class="span4 offset1" id="services"></div>
</div>

