<div class="page-header">
  <h3 style="text-align: center;"><%= @resort.store.name.titleize %></h3>
  <h4 style="text-align: center"><%= @resort.name %>(Vista Semanal)</h4>
</div>
<div class="row" id="information">
  <div class="span3">
    <%= link_to image_tag("calday.gif", :size => "24x24"), {:controller => 'books', :action => 'view_daily', :id => @resort}, :remote => true %>
  </div>
</div>
<div class="row">
  <div class="span2">
    <% if (@dia -7) >= Date.today -%>
      <%= link_to image_tag("arrow1_w.gif", :size => "24x24"), view_weekly_path(@resort.id, @dia - 7.day), :remote => true %>
    <% end -%>
  </div>
  <div class="span4">
    <h4 style="text-align: center; valign:center;"><%= l @dia, :format => "%A, %d de %B de %Y" %></h4>
  </div>
  <div class="span2">
    <%= link_to image_tag("arrow1_e.gif", :size => "24x24"), view_weekly_path(@resort.id, @dia + 7.day), :remote => true %>
  </div>
</div>
<div class="row" id="list">
  <div class="span5">
    <%= calendar_weekly(intervals) %>
  </div>
  <div class="span4" id="services"></div>
</div>

