<div class="page-header">
  <p style="text-align: center; background: #96aaab"><%= @resort.store.name.titleize %></p>
  <h3 style="text-align: center"><%= @resort.name %>(Vista Diaria)</h3>
</div>
<div class="row" id="information">
  <div class="span3">
    <%= link_to image_tag("calendar.gif", :size => "24x24"), view_weekly_path(@resort.id, Date.today), :remote => true %>
  </div>
</div>
<div id="daily">
  <div class="row" id="vista">
    <div class="span3">
      
    </div>
    <div class="span8">
      <h4 style="text-align: center"><%= l Date.today, :format => "%A, %d de %B de %Y" %></h4>
    </div>
    <div class="span3">
      <%= link_to image_tag("arrow1_e.gif", :size => "24x24"), {:controller => "books", :action => "change_day", :id => @resort.id, :gd => Date.today + 1.day}, :remote => true %>
    </div>
  </div>
  <div class="row" id="list">
    <div class="span6">
      <table class="table">
        <tr>
          <th>Hora Cita</th>
          <th>Reserva</th>
        </tr>
        <% @intervals.each do |interval| %>
            <tr>
              <td>
                <%= interval.init.strftime("%H:%M") %> - <%= interval.finish.strftime("%H:%M") %>
              </td>
              <td><%= link_to (image_tag "check.gif", :size => "24x24"), get_book_path(interval.id, Date.today), :remote => true %></td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="span4 offset1" id="services"></div>
  </div>
</div>

