<div class="row" id="information">
  <h3 style="text-align: center"><%= @resort.name %>(Vista Diaria)</h3>
  <div class="span3">
    <%#= image_tag "calendar_24x24.png" %>
    <%= link_to image_tag("calendar_alt_fill_24x24.png"), view_weekly_path(@resort.id, Date.today), :remote => true %>
    <%#= image_tag "calendar_alt_stroke_24x24.png" %>
  </div>
</div>
<div id="daily">
  <div class="row" id="vista">
    <div class="span3">
      <%= link_to image_tag("arrow_left_24x24.png"), {:controller => "books", :action => "change_day", :id => @resort.id, :gd => Date.today - 1.day}, :remote => true %>
    </div>
    <div class="span8">
      <h4 style="text-align: center"><%= l Date.today, :format => "%A, %d de %B de %Y" %></h4>
    </div>
    <div class="span3">
      <%= link_to image_tag("arrow_right_24x24.png"), {:controller => "books", :action => "change_day", :id => @resort.id, :gd => Date.today + 1.day}, :remote => true %>
    </div>
  </div>
  <div class="row" id="list">
    <div class="span8 offset4">
      <table>
        <tr>
          <th>Hora Cita</th>
          <th>Reserva</th>
        </tr>
        <% @intervals.each do |interval| %>
            <tr>
              <td>
                <%= interval.init.strftime("%H:%M") %> - <%= interval.end.strftime("%H:%M") %>
              </td>
              <td><%= link_to (image_tag "check_green_alt_24x24.png"), assign_book_path(interval.id, Date.today), :remote => true %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>