<% content_for :content do %>
    <h2>Servicios Extras</h2>

    <table class="table table-bordered table-striped">
      <tr>
        <th>Nombre</th>
        <th>Duracion</th>
        <th>Coste</th>
        <th>Negocio</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @service_extras.each do |service| %>
        <tr>
          <td><%= service.name %></td>
          <td><%= service.lasting %></td>
          <td><%= service.cost %></td>
          <td><%= service.store.name %></td>
          <td><%= link_to "Show", admin_service_extra_path(service) %></td>
          <td><%= link_to "Edit", edit_admin_service_extra_path(service) %></td>
          <td><%= link_to "Destroy", admin_service_extra_path(service), :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <br />
    <p><%= link_to "Nuevo Servicio Extra", new_admin_service_extra_path %></p>

<% end %>

