<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clearfix">
    <%= label_tag :name %>
    <div class="input">
      <%= text_field_tag :name, @identity.try(:name), :class => 'xlarge', :size => 20 %>
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag :email %>
    <div class="input">
      <%= email_field_tag :email, @identity.try(:email), :class => 'xlarge', :size => 20 %>
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag :password %>
    <div class="input">
      <%= password_field_tag :password, :class => 'xlarge', :size => 20 %>
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag :password_confirmation %>
    <div class="input">
      <%= password_field_tag :password_confirmation, :class => 'xlarge', :size => 20 %>
    </div>
  </div>
  <div class="actions"><%= submit_tag "Register", :class => 'btn primary' %></div>
<% end %>