<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="formbody">
    <label for="name">
      Name
      <br/>
      <%= text_field_tag :name, @identity.try(:name), :style => "width: 21em;", :class => "text" %>
    </label>
    <label for="email">
      Email
      <br/>
      <%= email_field_tag :email, @identity.try(:email), :style => "width: 21em;", :class => "text" %>
    </label>
    <label for="password">
      Password
      <br/>
      <%= password_field_tag :password, nil, :style => "width: 21em;", :class => "text" %>
    </label>
    <label for="password_confirmation">
      Password Confirmation
      <br/>
      <%= password_field_tag :password_confirmation, nil, :style => "width: 21em;", :class => "text" %>
    </label>
    <label class="submit_btn">
      <%= submit_tag "Register" %>
    </label>

  </div>
<% end %>