<h2>Cambia tu Password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-vertical"}) do |f| %>
  
  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>
  <%= f.input :password, :label => "Nuevo password", :required => true %>
  <%= f.input :password_confirmation, :label => "Confirma tu nuevo password", :required => true %>
  <%= f.button :submit, "Cambia mi password", :class => "btn-primary" %>
  
<% end %>
