<%= simple_form_for [:admin, @resort], :html => { :class => "form-stacked" } do |f| %>

  <div class="row">
    <div class="span4">
      <div class="clearfix">
        <div class="input">
          <%= f.input :name %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.association :store %>
        </div>
      </div>
      <div class="clearfix">
        <label>Servicios Extras</label>
        <div class="input">
          <ul class="inputs-list">
            <%= f.association :service_extras, :label => false %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.button :submit, :class => "btn primary" %>
  </div>
<% end %>

