<%= simple_form_for [:admin, @resort], :html => { :class => "form-stacked" } do |f| %>
  <% if f.error_notification %>
    <div class="alert-message warning fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= f.error_notification %></p>
    </div>
  <% end %>
  <div class="row">
    <div class="span4">
      <div class="clearfix">
        <div class="input">
          <%= f.input :name %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.association :store, :collection => Store.by_role(current_admin_admin.role, current_admin_admin.id) %>
        </div>
      </div>
      <div class="clearfix">
        <label>Servicios Extras</label>
        <div class="input">
          <ul class="inputs-list">
            <%= f.association :service_extras, :label => false, :collection => ServiceExtra.by_storeadmin(current_admin_admin.role, current_admin_admin.id) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.button :submit, :class => "btn primary" %>
  </div>
<% end %>

