<%= simple_form_for([:admin, @interval], :html => { :class => "form-horizontal" }) do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <p><%= f.error_notification %></p>
    </div>
  <% end %>
  <%= f.association :resort, :collection => Resort.storeadmin(current_admin_admin.id), :label => "Pertenece a" %>
  <%= f.input :init, :as => :string, :input_html => {:class => 'span2', :id => 'timepicker'}, :label => "Hora Inicio" %>
  <%= f.input :finish, :as => :string, :input_html => {:class => 'span2', :id => 'timepicker1'}, :label => "Hora Fin" %>
  <%= f.button :submit, :class => "btn-primary" %> 
<% end %>

