<% content_for :content do %>
  <h2>Intervalos</h2>

    <table class="table table-bordered table-striped">
      <tr>
        <th>Recurso</th>
        <th>Periodo</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @intervals.each do |interval| %>
        <tr>
          <td><%= interval.resort.name %></td>
          <td><%= interval.intervalo %></td>
          <td><%= link_to "Modificar", edit_admin_interval_path(interval) %></td>
          <td><%= link_to "Borrar", admin_interval_path(interval), :confirm => 'Estas seguro?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
    <div id="pagination">
      <%= paginate @intervals %>
    </div>
    <br />
    <br />
    <p><%= link_to "Nuevo Intervalo", new_admin_interval_path %> | <%= link_to 'Nuevo Intervalo por periodo', new_by_period_admin_intervals_path %></p>

<% end %>

