<% content_for :content do -%>
  <div class="page-header">
    <h2>Intervalos por Periodo</h2>
  </div>

  <%= simple_form_for(@interval, :url => by_period_admin_intervals_path, :html => { :class => "form-horizontal", :method => :post }) do |f| %>
    <% if f.error_notification %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p><%= f.error_notification %></p>
      </div>
    <% end %>
    
    <%= f.association :resort, :input_html => { :class => 'medium' }, :collection => Resort.storeadmin(current_admin_admin.id) %>
  
    <%= f.input :period, :input_html => { :class => 'span2' } %>
  
    <%= f.input :time_init, :input_html => {:class => 'span2', :id => 'timepicker'} %>
        
    <%= f.input :time_finish, :input_html => {:class => 'span2', :id => 'timepicker1'} %>

    <%= f.submit "Crear Intervalo", :class => "btn primary" %>
  <% end %>

  <p><%= link_to "Volver Listado", admin_intervals_path %></p>

<% end -%>

