<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="generator" content="Typus " />

<%= favicon_link_tag %>

<title>Administracion WebReserva &mdash; <%= yield :title %></title>

<%= stylesheet_link_tag 'admin/application' %>
<%= javascript_include_tag 'admin/application' %>

<%= yield :stylesheets -%>
<%= yield :javascripts -%>

<%= csrf_meta_tag %>
