<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>WebReserva</title>
  <%= favicon_link_tag %>
  <meta charset="utf-8" />
  <meta name="keywords" content="gestion, reservas, online, red, social, deportes, reservar, belleza, clubs, centros, deportivos" />
  <meta name="description" content="Gestion de todo tipo de reservas online a traves de aplicacion" />
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29304981-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <%= gflash %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <% if current_user %>
          <div class="nav-collapse">
            <%= render :partial => "welcome/menu_loggued" %>
          </div>
        <% else -%>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Webreserva', root_path, :class => "brand" %>
          <div class="nav-collapse">
            <%= render :partial => "welcome/social_login" %>
          </div>
        <%= render :partial =>  'welcome/form' %>
        <% end -%>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well">
          <%= render :partial => 'situation' %>
        </div>
      </div>
      <div class="span9">
        <div class="hero-unit" style="padding:0 0 0 0">
          <div id= "InfoBanner" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag('img06.png', :width => "910") %>
              </div>
              <div class="item">
                <%= image_tag('img07.png', :width => "910") %>
              </div>
              <div class="item">
                <%= image_tag('img08.png', :width => "910") %>
              </div>
            </div>
            <a class="carousel-control left" href="#InfoBanner" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#InfoBanner" data-slide="next">&rsaquo;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav"><%= render :partial => 'welcome/categories' %></div>
        <div class="well sidebar-nav" id="bycategory"></div>
        <div class="well sidebar-nav" id="bystore"></div>
      </div>
      <div class="span9">
        <div class="hero-unit" id="content-main">
          <%= gmaps(:map_options => { :raw => '{ panControl: true,
                                       zoomControl: true,
                                       mapTypeControl: true,
                                       scaleControl: true,
                                       streetViewControl: true,
                                       overviewMapControl: false}'
                          },
          :markers => { :data => @json, "options" => {"custom_infowindow_class" => "yellow", "do_clustering" => true}}
)%>
          <br>
          <%= render :partial => 'preview' %>
          <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-small btn-info">Info para Empresas</a>
        </div>
        <footer><p>&copy; WebReserva 2012</p>
          <%= yield :scripts %>
          <p>
            <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
              <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="¡CSS Válido!" />
            </a>
          </p>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>

