<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>WebReserva</title>
  <%= favicon_link_tag %>
  <meta charset="utf-8" />
  <meta name="keywords" content="gestion, reservas, online, red, social, deportes, reservar, belleza, clubs, centros, deportivos" />
  <meta name="description" content="Gestion de todo tipo de reservas online a traves de aplicacion" />
  <%= stylesheet_link_tag 'application' %>
  <%= google_maps_api %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="map_canvas" style="height:600px; margin-bottom: 60px;"></div>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <div class="well"></div>
      </div>
      <div class="col-lg-4">
        <div class="well"></div>
      </div>
      <div class="col-lg-4">
        <div class="well"></div>
      </div>
    </div>
    <hr class="featurette-divider">
    <footer>
      <p>&copy; WebLink Technologies.ltd 2012</p>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29304981-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </footer>
  </div>
</body>
</html>

